.example-card {
  max-width: 300px;
  padding: 2px;
  margin-right: 40px;
  margin-left: 40px;
}

.example-header-image {
  background-image: url('/assets/img/profilepic/2.jpg');
  background-position: right;
  font-size: 1rem;
}
