<div class="registerDialog">
  <div class="header">
    <h1>Register</h1>
  </div>
  <div class="contact">
    <form [formGroup]="registerForm">
      <p><mat-form-field>
          <input matInput placeholder="Full name" formControlName="name">
          <mat-icon matSuffix>person</mat-icon>
          <mat-error *ngIf="registerForm.get('name')?.hasError('required')">
            Full name is required
          </mat-error>
        </mat-form-field></p>
      <p><mat-form-field>
          <input matInput placeholder="Username" formControlName="username">
          <mat-icon matSuffix>person</mat-icon>
          <mat-error *ngIf="registerForm.get('username')?.hasError('required')">
            Username is required
          </mat-error>
        </mat-form-field></p>
      <p><mat-form-field>
          <input matInput placeholder="Email" formControlName="email">
          <mat-icon matSuffix>drafts</mat-icon>
          <mat-error *ngIf="registerForm.get('email')?.hasError('required')">
            Email is required
          </mat-error>
          <mat-error *ngIf="registerForm.get('email')?.hasError('email')">
            Email is invalid
          </mat-error>
        </mat-form-field></p>
      <p><mat-form-field>
          <input type="{{ isPasswordVisiblePassword ? 'text' : 'password' }}" matInput placeholder="Password"
            formControlName="password">
          <mat-icon (click)="togglePasswordVisibilityPassword()" matSuffix>
            <a *ngIf="isPasswordVisiblePassword">lock_open</a>
            <a *ngIf="!isPasswordVisiblePassword">lock</a>
          </mat-icon>
          <mat-error *ngIf="registerForm.get('password')?.hasError('required')">
            Password is required
          </mat-error>
        </mat-form-field></p>
      <p><mat-form-field>
          <input type="{{ isPasswordVisiblePasswordcnfm ? 'text' : 'password' }}" matInput
            placeholder="Confrim Password" formControlName="confirmPassword">
          <mat-icon (click)="togglePasswordVisibilityPasswordCnfm()" matSuffix>
            <a *ngIf="isPasswordVisiblePasswordcnfm">lock_open</a>
            <a *ngIf="!isPasswordVisiblePasswordcnfm">lock</a>
          </mat-icon>
          <mat-error *ngIf="registerForm.get('confirmPassword')?.hasError('required')">
            Confrim Password is required
          </mat-error>
          <mat-error *ngIf="registerForm.get('confirmPassword')?.hasError('notMatching')">
            Passwords do not match
          </mat-error>
        </mat-form-field></p>
      <div class="buttons">
        <div class="alreadyaccount">
          <a (click)="openDialogLogin()">You already have an Account?</a>
        </div>
        <button (click)="closeDialog()" class="cancel" mat-raised-button color="warn">Cancel</button>
        <button (click)="onSubmit()" class="submit" mat-raised-button color="warn">Submit</button>
      </div>
    </form>
  </div>
</div>
