.mat-drawer-inner-container {
  background-color: green;
}

.leftsidebar {
  button {
    width: 150px;
    margin-top: 70px;
  }

  min-height: 700px;
  max-height: 1500px;
  left: 0;

  mat-drawer {
    .account {
      background-color: rgb(90, 232, 90);
    }

    .message {
      background-color: rgb(90, 232, 90);
    }

    .product {
      background-color: rgb(90, 232, 90);
    }

    .homepage {
      background-color: rgb(90, 232, 90);
    }

    .create {
      background-color: rgb(90, 232, 90);
    }

    width: 200px;
    text-align: center;
    align-items: center;
    display: flex;

    .leftsidebar-container {
      display: flex;
      justify-content: center;
      text-align: center;

      .txtbuttons {
        font-size: 15px;
        margin-right: 5px;
        width: 100px;
      }
    }
  }
}
