.felxrow {
  .account-container {
    display: flex;
    justify-content: space-evenly;
  }

  .produkte-container {
    //container von den Produkten
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}
