<app-main-nav>
  <div class="felxrow">
    <div class="account-container">
      <div *ngIf="accountObserver |async">
        <app-accountsettings></app-accountsettings>
      </div>
    </div>
    <div *ngIf="hompageObserver |async">
      <div class="produkte-container">
        <app-produkte *ngFor="let i of [0, 1,2,3,4,5]" [user]="username[i]" [product]="postProduct[i]" [price]="postPrice[i]" [image]="postImage[i]"></app-produkte>
      </div>
    </div>

    <div *ngIf="productObserver |async">
      <app-personalproducts></app-personalproducts>
    </div>

    <div *ngIf="messagesObserver |async">
      <div>
        <div>
          <app-messages></app-messages>
        </div>
      </div>
    </div>
  </div>
</app-main-nav>

