<div class="container">
  <div class="headeraccount">
    <h1>Account Settings</h1>
    <mat-icon>person</mat-icon>
  </div>
  <form class="accountsettings">
    <div class="pictureusername">
      <div class="pic">
        <img src="{{ profilePic }}">
      </div>
      <div class="picture">
        <mat-form-field class="fieldusername">
          <input matInput placeholder="Username" value="{{ username }}">
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
        <mat-form-field class="fieldpicture">
          <input matInput placeholder="Picture" value="{{ profilePic }}">
          <mat-icon matSuffix>image</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div class="feldsettings">
      <mat-form-field class="fieldfullname">
        <input matInput placeholder="Full name" value="{{ name }}">
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>
    </div>
    <div class="feldsettings">
      <mat-form-field class="fieldemail">
        <input matInput placeholder="Email" value="{{ email }}">
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>
    </div>
    <div class="feldsettings">
      <mat-form-field class="fieldpassword">
        <input matInput type="{{ isPasswordVisiblePassword ? 'text' : 'password' }}" placeholder="Password"
          value="{{ password }}">
        <mat-icon (click)="togglePasswordVisibilityPassword()" matSuffix>
          <a *ngIf="isPasswordVisiblePassword">lock_open</a>
          <a *ngIf="!isPasswordVisiblePassword">lock</a>
        </mat-icon>
      </mat-form-field>
    </div>
  </form>
</div>
