<div class="loginDialog">
  <div class="header">
    <h1>Login</h1>
  </div>
  <div class="contact">
    <form [formGroup]="registerForm">
    <p><mat-form-field>
      <input matInput placeholder="Username" formControlName="username">
      <mat-icon matSuffix>person</mat-icon>
      <mat-error *ngIf="registerForm.get('username')?.hasError('required')">
        Username is required
      </mat-error>
    </mat-form-field></p>
    <p><mat-form-field>
      <input type="{{ isPasswordVisiblePassword ? 'text' : 'password' }}" matInput placeholder="Password" formControlName="password">
      <mat-icon (click)="togglePasswordVisibilityPassword()" matSuffix>
        <a *ngIf="isPasswordVisiblePassword">lock_open</a>
        <a *ngIf="!isPasswordVisiblePassword">lock</a>
      </mat-icon>
      <mat-error *ngIf="registerForm.get('password')?.hasError('required')">
        Password is required
      </mat-error>
    </mat-form-field></p>
  <div class="buttons">
    <div class="alreadyaccount">
      <a (click)="openDialogRegister()">You already have an Account?</a>
    </div>
    <button (click)="closeDialog()" class="cancel" mat-raised-button color="warn">Cancel</button>
    <button (click)="onSubmit()" class="submit" mat-raised-button color="warn">Submit</button>
  </div>
</form>
</div>
</div>
