<div class="loginDialog">
  <div class="header">
    <h1>Login</h1>
  </div>
  <div class="contact">
    <p><mat-form-field>
      <input matInput placeholder="Username">
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field></p>
    <p><mat-form-field>
      <input matInput placeholder="Email">
      <mat-icon matSuffix>drafts</mat-icon>
    </mat-form-field></p>
    <p><mat-form-field>
      <input type="{{ isPasswordVisiblePassword ? 'text' : 'password' }}" matInput placeholder="Password">
      <mat-icon (click)="togglePasswordVisibilityPassword()" matSuffix>
        <a *ngIf="isPasswordVisiblePassword">lock_open</a>
        <a *ngIf="!isPasswordVisiblePassword">lock</a>
      </mat-icon>
    </mat-form-field></p>
  </div>
  <div class="buttons">
    <button (click)="closeDialog()" class="cancel" mat-raised-button color="warn">Cancel</button>
    <button class="submit" mat-raised-button color="warn">Submit</button>
  </div>
</div>
