<div class="registerDialog">
  <div class="header">
    <h1>Register</h1>
  </div>
  <div class="contact">
    <p><mat-form-field>
      <input matInput placeholder="Full name">
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field></p>
    <p><mat-form-field>
      <input matInput placeholder="Username">
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field></p>
    <p><mat-form-field>
      <input matInput placeholder="Email">
      <mat-icon matSuffix>drafts</mat-icon>
    </mat-form-field></p>
    <p><mat-form-field>
      <input matInput placeholder="Password">
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field></p>
    <p><mat-form-field>
      <input matInput placeholder="Confrim Password">
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field></p>
  </div>
</div>
